venv/
*.swp
lispat_app/lispat.egg-info
lispat_app/dist
lispat_app/build
lispat_app/lispat/__pycache__
*/__pycache__
*.pyc
*.log
lispat.egg-info/
dist/
build/
__pycache__/
=======
lispat_app/__pycache__
.idea/
.DS_Store
